$o-brand-odoo: #1B1263 !default;
$o-brand-primary: #1B1263 !default;
$o-brand-secondary: #5FA1D3 !default;
$o-brand-light-primary: lighten($o-brand-primary, 15%) !default;
$o-brand-light-secondary: lighten($o-brand-secondary, 15%) !default;