.o_main_navbar {
    background: linear-gradient(to bottom, rgba(27, 18, 99, 1) 0%, rgba(27, 18, 99, 0.7) 60%, rgba(27, 18, 99, 0) 100%),
                url('/facilsoft_theme_backend/static/src/image/topbar-bg.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}